<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FF XIV Resources</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <style>
        .site-card {
            margin-bottom: 1em;
        }
        </style>
    </head>
    <body>
        <header class="container is-fluid">
            <nav class="navbar">
                <div class="navbar-brand">
                    <h1 class="navbar-item title">
                        <a href="/ffxiv-resources">Final Fantasy XIV Resources</a> 
                    </h1>
                </div>
            </nav>
            
        </header>

        <main class="container is-fluid">
            {{ content }}
        </main>

        <footer>

        </footer>
    </body>
</html>